:root
{
    -webkitTransform: scale(1);
    -msTransform:  scale(1);
    -transform: scale(1);
    zoom: 1;
}

::-moz-selection { background: #5639AC; }
::selection { background: #5639AC; }
#noSelect, img, .navi
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#normalFont { font-family: Exo; }
@font-face { font-family: Torus_Light; src: url('../Files/Fonts/Torus_Light.otf'); }
@font-face { font-family: Exo_Light; src: url('../Files/Fonts/Exo_Light.otf'); }
@font-face { font-family: Exo; src: url('../Files/Fonts/Exo.otf'); }