:root
{
    -webkitTransform: scale(1);
    -msTransform:  scale(1);
    -transform: scale(1);
    zoom: 1;
}
#noSelect, img, .navi
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body
{
    padding: 0px;
    margin: 0px;

    font-family: Varela;
}
h1
{
    font-size: 50px;
}
.footer p
{
    padding: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;
}
html 
{
	scroll-behavior: smooth;
}
*
{
    font-size: 20px;
    text-decoration: none;
}

#normalFont { font-family: Varela; src: url('../Fonts/VarelaRound-Regular.ttf')}
@font-face { font-family: Varela; src: url('../Fonts/VarelaRound-Regular.ttf'); }