.navi
{
    background-color: #5639AC;
}
.cell
{
    background-color: #8C66FF;
    width: 70px;
}
.logo a:hover img, .cont img
{
    border-color: #5639AC;
}
.main
{
    background-color: #18171C;
    grid-row: 3/4;
}
.cont a
{
    color:aliceblue;
    font-weight: bold;
}
.cont a:hover, footer a:hover
{
    color: #94A3E0;
}
.cont > ul
{
    display: inline-block;
    padding-left: 0px;
    width: 100%;
}
.cont ul ul
{
    list-style: disc;
}
.cont > ul
{
    list-style: none;
    margin: 0px;
}
.cont li
{
    text-align: left;
    margin-bottom: 15px;
}
.cont img
{
    image-rendering: pixelated;
    width: calc(100px + 5vw);
    height: auto;
    border-width: 2px;
    border-style: solid;
}
.contents
{
    position: sticky;
    left: 0px;
    z-index: 99;
    width: var(--length);
    height: 35px;
    line-height: 30px;
    top: 45px;
    background-color: #221F2E;
}
.contents a
{
    font-size: calc(12.5px + 0.5vw);
    color: #5639AC;

    margin: 0px 1vw;
}
.content
{
    padding: 20px;
}
.content .name
{
    margin-top: 0px;
}
.content_border
{
    background-color: #18171C;
    border-radius: 10px;
    display: block;
    margin: 0px 10px;
}
#squizzle, #robo_run, #glowy, #underbattle
{
    position: relative;
    top: -75px;
}
.name
{
    font-weight: bold;
    font-size: 25px;
}
.description
{
    font-style: italic;
    color: grey;
}
.status, .platforms, .startDate
{
    color: lightgray;
}
.status > text
{
    color: #FFBF53;
}
.platforms > text
{
    color: #F74C7C;
}
.startDate > text
{
    color: #FF835E;
}
ul, ul li ul
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
}
ul li ul li
{
    display: inline-block;
    margin: 0px 0.5vw;
}
.footer a:hover
{
    color: #94A3E0;
}
#grey
{
    color: #948E9D;
}
::-moz-selection { background: #5639AC; }
::selection { background: #5639AC; }