.grid
{
    display: grid;

    grid-template-columns: 
    [middle] 100%;
    grid-template-rows: 
    [navi] 25px
    [top] 200px
    [main] 1506px;

    width: 100vw - 10px;
    height: 100vh;
}
.navi
{
    background-color: lightcoral;
    text-align: center;
    font-weight: bold;
}
.top
{
    background-color: rgb(17, 17, 17);

    background-image: url("../Files/UnityBanner.jpg");
    background-repeat: no-repeat;
    background-position: 50%;

    grid-row: 2/3;
}
.main
{
    background-color: rgb(17, 17, 17);

    color:rgb(155, 155, 155);
    text-align: center;
    
    grid-row: 3/3;
}
body
{
    padding: 0px;
    margin: 0px;
}
div
{
    display: inline-block;
}
*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
a
{
    color:aliceblue;
}
.navi > a:hover
{
    color:deepskyblue;
}
a:hover
{
    color:aquamarine;
}
h1
{
    font-size: 50px;
}
.selected
{
    color: black;
}
img
{
    image-rendering: pixelated;
}
ul
{
    display: inline-block;
}
li
{
    text-align: left;
}
.name
{
    font-weight: bold;
    font-size: 25px;
}
.description
{
    font-style: italic;
    color: grey;
}
.status
{
    color: green;
}
.platforms
{
    color: lightskyblue;
}
.startDate
{
    color: yellow;
}