:root
{
    --length: fit-content(calc(10px + 99%));
}
.grid
{
    display: grid;

    grid-template-rows: 
    [navi] 45px
    [top] 150px
    [main] auto
    [footer] 50px;
    grid-template-columns:
    [left] auto
    [middle] var(--length)
    [right] auto;

    height: 100vh;
}
.top
{
    background-image: url("../Files/Banner.png");

    grid-row: 2/3;
    grid-column: 1/4;
}
.main
{
    background-color: #221F2E;

    color: white;
    text-align: center;
    font-weight: 100;
    
    font-family: Exo;

    border-style: solid;
    border-color: #18171C;
    border-width: 10px;

    grid-row: 3/4;
    grid-column: 2;
}
.main a
{
    color:aliceblue;
    font-weight: bold;
}
.main a:hover
{
    color: #94A3E0;
}
.main > ul
{
    display: inline-block;
    padding-left: 0px;
    width: 100%;
}
.main ul ul
{
    list-style: disc;
}
.main > ul
{
    list-style: none;
    margin: 0px;
}
.main li
{
    text-align: left;
    margin-bottom: 15px;
}
.main img
{
    image-rendering: pixelated;
    width: calc(100px + 5vw);
    height: auto;
    border-width: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #5639AC;
}
.main h1
{
    font-family: Torus_Light;
}
.contents
{
    position: sticky;
    left: 0px;
    z-index: 99;
    width: 100%;
    height: 30px;
    top: 45px;
    background-color: #221F2E;
}
.contents a
{
    font-family: Torus_Light;
    font-size: calc(12.5px + 0.5vw);
    color: #5639AC;

    margin: 0px 1vw;
}
.left
{
    background-color: #18171C;

    grid-row: 3/4;
    grid-column: 1;
}
.right
{
    background-color: #18171C;

    grid-row: 3/4;
    grid-column: 3;
}
.footer
{
    background-color: #24222A;

    text-align: center;
    font-weight: bold;

    font-family: Torus_Light;

    grid-row: 4/4;
    grid-column: 1/4;
}
.footer a
{
    padding: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;

    color: white;
}
.footer a:hover
{
    color: #94A3E0;
}
.footer p
{
    padding: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;
}
#grey
{
    color: #948E9D;
}
.content
{
    padding: 20px;
}
.content .name
{
    margin-top: 0px;
}
.content_border
{
    background-color: #18171C;
    border-radius: 10px;
    display: block;
    margin: 0px 10px;
}
#squizzle
{
    position: relative;
    top: -75px;
}
#robo_run
{
    position: relative;
    top: -75px;
}
#glowy
{
    position: relative;
    top: -75px;
}
#underbattle
{
    position: relative;
    top: -75px;
}
body
{
    padding: 0px;
    margin: 0px;
}
*
{
    font-size: 20px;
    text-decoration: none;
}
h1
{
    font-size: 50px;
}
.selected
{
    text-decoration: underline;
    text-decoration-color: #8C66FF;
}
.name
{
    font-weight: bold;
    font-size: 25px;
}
.description
{
    font-style: italic;
    color: grey;
}
.status
{
    color: green;
}
.platforms
{
    color: lightskyblue;
}
.startDate
{
    color: yellow;
}
html 
{
	scroll-behavior: smooth;
}