.navi
{
    background-color: #5639AC;
}
.logo a:hover img
{
    border-color: #5639AC;
}
.main
{
    background-color: #18171C;
    grid-row: 2;
}
.main i
{
    color: #94A3E0;
}
.cont
{
    padding: 0px 20px;
    color: white;
    background-color: #18171C;
    text-align: center;
}
.cont > iframe
{
    border: 3px solid rgb(104, 11, 91); 
    width: auto;
    height: 28.725%;
    margin: 15px;
}
.cont a:hover, .footer a:hover
{
    color: #94A3E0;
}
.cell
{
    background-color: #8C66FF;
    width: 55px;
}
::-moz-selection { background-color: #5639AC; }
::selection { background: #5639AC; }