.grid
{
    display: grid;

    grid-template-columns: 
    [left] 15%
    [middle] 70%
    [right] 15%;
    grid-template-rows: 
    [navi] 2%
    [main] 88%
    [footer] 10%;

    width: 100vw - 10px;
    height: 250vh;
}
.navi
{
    background-color: lightcoral;
    text-align: center;

    color: lightgreen;
    font-weight: bold;
    font-size: 20px;

    grid-column: 1/4;
}
.left
{
    background-color: green;
    text-align: center;

    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main
{
    background-color: lightblue;
    text-align: center;

    font-size: 20px;

    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.right
{
    background-color: rgb(0, 128, 0);
    text-align: center;

    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.footer
{
    background-color: darkslategrey;
    text-align: center;

    grid-column: 1/4;
}
body
{
    padding: 0px;
    margin: 0px;
}
text
{
    display: none;
}