.grid
{
    display: grid;

    grid-template-columns: 
    [left] 15%
    [middle] 70%
    [right] 15%;
    grid-template-rows: 
    [navi] 2%
    [top] 10.25%
    [main] 77.75%
    [footer] 11%;

    width: 100vw - 10px;
    height: 250vh;
}
.navi
{
    background-color: lightcoral;
    text-align: center;

    color: lightgreen;
    font-weight: bold;
    font-size: 20px;

    grid-column: 1/4;

    display:inline;
}
.navi > image
{
    margin: 10px 10px;
    padding: -10px 10px;
}
.left
{
    background-color: green;
    text-align: center;
    
    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/2;
    grid-row: 2/4;
}
.top
{
    background-color: lightblue;

    background-image: url("../Files/Underbattle.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.right
{
    background-color: rgb(0, 128, 0);
    text-align: center;

    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 3/4;
    grid-row: 2/4;
}
.main
{
    background-color: lightblue;
    text-align: center;

    font-size: 20px;

    background-image: url("../Files/Gradient.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 2/3;
    grid-row: 3/4;
}
.footer
{
    background-color: darkslategrey;
    text-align: center;

    grid-column: 1/4;
}
body
{
    padding: 0px;
    margin: 0px;
}
text
{
    display: none;
}
div
{
    display: inline-block;
}