.navi
{
    width: 100%;
    position: fixed;

    background-color: #5639AC;
    text-align: center;
    font-weight: bold;

    font-family: Torus_Light;

    height: 45px;
    line-height: 45px;

    grid-row: 1/4;
    grid-column: 2;

    z-index: 100;
}
.navi a
{
    list-style: none;
    display: inline-block;

    margin: 0px 1vw;
}
.navi :not(a:hover)
{
    color:rgb(200, 200, 200);
}
.navi a:hover
{
    color:white;
}
.logo img
{
    width: 35px;
    height: 35px;
}
.logo, .logo a
{
    position: fixed;
    margin: 0px -40px;
    padding: 0px;
    width: 39px;
    height: 39px;
    top: 2.5px;
}
.logo a img
{
    border-radius: 50%;
    border: solid;
}
.logo :not(a:hover) img
{
    border-color: white;
    border-width: 2px;
}
.logo a:hover img
{
    position: relative;
    border-color: #5639AC;
    border-width: 10px;
    right: 39px;
    width: 100px;
    height: 100px;
}