.navi
{
    background-color: #3986AC;
}
.cell
{
    background-color: #3986AC;
}
.main a:hover, .footer a:hover
{
    color: #73B1D9;
}
.logo a:hover img
{
    border-color: #3986AC;
}
.top
{
    background-image: url("../Images/Banner.png");

    grid-row: 2/3;
}
.main
{
    background-color: #18171C;

    grid-row: 3/4;
}
.cont
{
    color: white;
    background-color: #18171C;
    text-align: center;
}
.main h1
{
    font-weight: bold;
}
.main :not(a, h1)
{
    font-weight: 100;
}
.main a
{
    color: white;
    font-weight: bold;
}
table
{
    margin: auto;
}
th, td
{
    text-align: left;
    padding: 10px;
}
.cell
{
    background-color: #73B1D9;
    width: 100px;
}
::-moz-selection { background: #3986AC; }
::selection { background: #3986AC; }