.navi, .cell
{
    background-color: #3986AC;
}
.main a:hover, .footer a:hover
{
    color: #73B1D9;
}
.logo a:hover img
{
    border-color: #3986AC;
}
.main
{
    background-color: #18171C;
    grid-row: 2;
}
.cont, .cont a
{
    color: white;
}
.cont
{
    background-color: #18171C;
    text-align: center;
}
.cont h1, .cont a
{
    font-weight: bold;
}
.cont :not(a, h1)
{
    font-weight: 100;
}
table
{
    margin: auto;
}
th, td
{
    text-align: left;
    padding: 10px;
}
.cell
{
    background-color: #73B1D9;
    width: 100px;
}
::-moz-selection { background: #3986AC; }
::selection { background: #3986AC; }