.grid
{
    display: grid;

    grid-template-rows: 
    [navi] 45px
    [top] 150px
    [main] auto
    [footer] 50px;

    height: 100vh;
}
.navi
{
    width: 100%;
    position: fixed;

    background-color: #5639AC;
    text-align: center;
    font-weight: bold;

    font-family: Torus_Light;

    height: 45px;
    line-height: 45px;

    grid-row: 1/4;
    grid-column: 1;
}
.navi a
{
    list-style: none;
    display: inline-block;

    margin: 0px 25px;
}
.navi :not(a:hover)
{
    color:rgb(200, 200, 200);
}
.navi a:hover
{
    color:white;
}
.top
{
    background-image: url("../Files/Banner.png");

    grid-row: 2/3;
    grid-column: 1;
}
.main
{
    background-color: #18171C;

    color: white;
    text-align: center;
    
    font-family: Torus_Light;

    grid-row: 3/4;
    grid-column: 1;
}
.main :not(a)
{
    font-weight: 100;
}
.main a
{
    color: white;
    font-weight: bold;
}
.main a:hover
{
    color: #94A3E0;
}
.footer
{
    background-color: #24222A;

    text-align:center;
    font-weight: bold;

    font-family: Exo;

    grid-row: 4/4;
    grid-column: 1;
}
.footer a
{
    padding: 0px;
    border: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;

    color: white;
}
.footer a:hover
{
    color: #94A3E0;
}
.footer p
{
    padding: 0px;
    border: 0px;
    margin: 0px;

    font-size: 10px;
    font-weight: 100;
}
#grey
{
    color: #948E9D;
}
body
{
    padding: 0px;
    margin: 0px;
}
table
{
    margin: auto;
}
th, td
{
    text-align: left;
    padding: 10px;
}
*
{
    font-size: 20px;
    text-decoration: none;
}
h1
{
    font-size: 50px;
}
.selected
{
    text-decoration: underline;
}