.navi
{
    background-color: #3986AC;
}
.main a:hover, .footer a:hover
{
    color: #73B1D9;
}
.logo a:hover img
{
    border-color: #3986AC;
}
.main
{
    background-color: #18171C;
    grid-row: 3/4;
}
.main img
{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.main #pixel
{
    image-rendering: pixelated;
}
.cont a
{
    color:aliceblue;
}
.cell
{
    background-color: #73B1D9;
    width: 60px;
}
::-moz-selection { background: #3986AC; }
::selection { background: #3986AC; }